.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 93px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
  background-color: rgb(255, 255, 255);
}

.header__menu {
  align-content: center;
}

.header__links-list {
  display: flex;
  gap: 33px;
  flex-direction: row;  
  align-items: end;
  justify-content: flex-start;
}

.header__link_active .header__link {
  text-decoration: none;  
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item {
  list-style-type: circle;  
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  color: #000; 
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  height: 105px;  
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.address {
  padding-top: 0px;
  padding-right: 0px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-underline-offset: 4px;
  line-height: 23px ;
  font-style: normal;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  padding: 165px  20px 106px 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {  
  letter-spacing: 9em;
  padding-top: 20px;
  line-height: 115%;
} 

.aligned-text_center {
  display: block;
  padding-top: 20px;
  line-height: 115%;
  text-align: center;
}

.aligned-text_right {
  display: block;
  padding-top: 20px;
  line-height: 115%;
  text-align: right;
}


.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: nowrap;
  word-spacing: 18.5px;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;    
}

.cover__description-text {
  padding-top: 5px;
  padding-left: 1px;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
}

.bet-button {
  padding: 11px 31px 11px 31px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  border-color: #fff;
  color: #fff;
  background: transparent;
}

.lots {
  margin: 180px 24px 0px 24px;
  background-color: rgb(255, 255, 255);
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
 display: flex;
 flex-direction: row; 
 flex-wrap: wrap;
 gap: 25px;
 list-style-type: none;
}

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  display: flex;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #fff;
}

.card__text {
  display: flex;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link{
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-underline-offset: 4px;
}

.about {
  padding: 120px 24px 0px 24px;
  background-color: rgb(255, 255, 255);
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-auto-rows: auto;
  grid-template-areas:
      'logo grid_title'
      '. grid_text';
  column-gap: 25px;
}

.about__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  grid-area: logo;
  place-self: center;
  background-color: #000;  
}

.about__logo-image {
  height: 114.55px;  
  width: 148.54px;
}

.grid_title {
  display: flex;
  grid-area: grid_title;
  flex-direction: row;
  align-items: center;
}

.grid_text {
  display: flex;
  padding-top: 5px;
  padding-bottom: 39px;
  grid-area: grid_text;
  flex-wrap: nowrap;
  flex-direction: column;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.about_text_top {
padding-bottom: 24px;
}

.footer{
  margin-top: 180px;
  height: 180px;
  background-color: brown;
}